.card {
    /* background: #444; */
    border: 1px solid #555;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(54, 56, 56, 0.4);
    border-radius: 12px;
    margin: 5px;
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0px 0px 8px #FFC83D;
    transform: scale(1.03);
}

img {
    display: block;
    margin-bottom: 0 !important;
} 